body {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box; }

.bg-main {
  background: #1ccdca; }

.top-bar {
  background-color: #f9f9f9;
  border-bottom: 1px solid #e4e4e4;
  color: #777777;
  text-transform: uppercase;
  font-size: 12px;
  padding: 12px 0; }

.top-bar-nav {
  color: #777777; }
  .top-bar-nav a {
    text-decoration: none;
    color: inherit; }
  .top-bar-nav li {
    margin-right: 20px; }
  .top-bar-nav i {
    margin-right: 5px; }

.top-bar-social .nav-item {
  position: relative; }

.top-bar-social a {
  text-decoration: none;
  color: #777777;
  font-size: 12px; }

.top-bar-social .social-link-overlay {
  opacity: 1;
  position: absolute;
  right: 0;
  font-style: italic;
  font-size: 11px;
  background: #1ccdca; }

.navbar-expand-lg {
  font-size: 14px; }
  .navbar-expand-lg .form-control {
    width: 200px; }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 25px 15px; }
  .navbar-expand-lg .navbar-nav li {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold; }
  .navbar-expand-lg .navbar-nav a {
    border-radius: 3px;
    border: 1px solid transparent;
    color: #555; }
    .navbar-expand-lg .navbar-nav a:hover {
      transition: 1s;
      color: #1ccdca; }

.hover-dropdown .dropdown-menu {
  background: black; }
  .hover-dropdown .dropdown-menu ul {
    list-style: none;
    padding: 0; }
  .hover-dropdown .dropdown-menu.language-menu {
    background-color: #1ccdca;
    z-index: 1050;
    padding: 0; }
    .hover-dropdown .dropdown-menu.language-menu .dropdown-item {
      font-style: italic;
      color: white;
      transition: 1s;
      padding: 10px 0;
      font-size: 11px; }
      .hover-dropdown .dropdown-menu.language-menu .dropdown-item.active {
        background-color: rgba(0, 0, 0, 0.1); }
      .hover-dropdown .dropdown-menu.language-menu .dropdown-item a {
        padding-left: 10px; }
      .hover-dropdown .dropdown-menu.language-menu .dropdown-item:hover {
        background-color: rgba(0, 0, 0, 0.1);
        transition: 1s; }
  .hover-dropdown .dropdown-menu .dropdown-item {
    color: #777777;
    font-size: 14px; }
    .hover-dropdown .dropdown-menu .dropdown-item:hover {
      color: white;
      background: black; }

.hover-dropdown .dropright-toggle {
  position: relative; }

.hover-dropdown .dropdown-toggle:after {
  display: none; }

.hover-dropdown.dropright:hover .dropdown-menu.submenu {
  display: block;
  margin-left: 0; }

.hover-dropdown.dropdown:hover .dropdown-menu:not(.submenu) {
  display: block;
  margin-top: 0; }

.search-btn {
  border: none;
  background: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2px;
  color: #1ccdca; }

.search-container {
  position: relative; }

.search {
  padding-left: 30px;
  border-radius: 40px;
  border: 1px solid #e4e4e4; }

.cart-btn {
  border: 1px solid #e4e4e4;
  background: transparent;
  border-radius: 50%;
  color: #1ccdca;
  width: 38px;
  height: 38px; }
  .cart-btn:focus {
    outline: none; }

.cart-menu {
  font-size: 13px;
  position: absolute;
  left: -250px;
  margin-top: 16px;
  width: 300px; }
  .cart-menu ul {
    list-style-type: none;
    padding-left: 10px; }
  .cart-menu .cart-menu-header {
    font-size: 14px; }
  .cart-menu .dropdown-item {
    padding: 5px 10px; }
    .cart-menu .dropdown-item:hover {
      background-color: inherit; }
      .cart-menu .dropdown-item:hover .item-name {
        color: #1ccdca;
        transition: 0.6s; }
    .cart-menu .dropdown-item .item-count {
      color: #777777;
      float: right; }
  .cart-menu .cart-thumbnail {
    border: 1px solid #dee2e6;
    padding: .25rem; }
  .cart-menu .item-name {
    transition: 0.6s; }
  .cart-menu .item-price {
    color: #777777; }
  .cart-menu .remove-item {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    left: -20px;
    bottom: 50%;
    color: #777777;
    border: 1px solid #777777;
    transition: 0.6s;
    background-color: white; }
    .cart-menu .remove-item i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .cart-menu .remove-item:hover {
      border-color: #1ccdca;
      color: #1ccdca;
      transform: rotateZ(90deg);
      transition: 0.6s; }

.carousel-indicators li {
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  transition: background-color; }

.carousel-caption {
  right: auto; }

.caption-element-1 {
  background-color: red;
  font-style: italic;
  font-size: 24px; }

.caption-element-2 {
  font-size: 36px;
  color: red;
  background-color: white;
  padding: 15px 10px; }

.banner-top h6 {
  font-weight: bold;
  color: white; }

.banner-top p {
  color: #777777;
  font-size: 14px; }

.banner-bottom p {
  font-size: 14px; }

.banner-icon {
  color: #1ccdca;
  font-size: 25px; }

.banner-item .banner-title {
  transition: 0.6s;
  font-size: 16px; }

.banner-item:hover .banner-icon {
  color: white; }

.banner-item:hover .icon-circle-overlay {
  width: 90px;
  height: 90px;
  opacity: 1;
  transition: 0.4s; }

.banner-item:hover .banner-title {
  color: #1ccdca;
  transition: 0.6s; }

.icon-circle {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  border: 1px solid #1ccdca;
  position: relative;
  transition: 0.4s; }
  .icon-circle i {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .icon-circle .icon-circle-overlay {
    position: absolute;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 1px solid transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1ccdca;
    z-index: 2;
    opacity: 0;
    transition: 0.4s; }

.services-icon {
  font-size: 25px;
  color: white; }

.services-content {
  padding-bottom: 40px; }
  .services-content .services-title {
    font-size: 16px;
    transition: 0.6s;
    color: #777777; }
  .services-content .services-description {
    color: #777777;
    font-size: 14px; }
  .services-content:hover .services-title {
    color: #1ccdca;
    transition: 0.6s; }

#web_bar {
  background-color: #0bacb8; }

#programming_bar {
  background-color: #3a94b2; }

#css_bar {
  background-color: #1ccdca; }

#wp_bar {
  background-color: #00c194; }

#joomla_bar {
  background-color: #e74c3c; }

.progress {
  background-color: #26292d;
  height: 40px; }
  .progress .progress-bar {
    text-align: left;
    transition: 3s;
    width: 0;
    position: relative; }
    .progress .progress-bar .progress-bar-title {
      position: absolute;
      left: -9999px;
      padding: 0 10px;
      transition: 3s; }

.bubble {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: black;
  font-style: italic; }
  .bubble .inner-bubble {
    background: white;
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 5px; }
  .bubble .bubble-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 10px 5px 0;
    border-color: transparent white transparent transparent;
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%); }

.bg-banner {
  background-image: url(../css/img/bg_header4.jpg);
  background-size: cover;
  overflow-x: hidden; }

.nav-tabs .nav-item {
  border-right: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4; }

.nav-tabs .nav-link {
  border-top: 5px solid transparent;
  text-decoration: none;
  border-radius: 0;
  border-bottom: none;
  border-left: none;
  border-right: none;
  color: #777777; }
  .nav-tabs .nav-link.active {
    border-top-color: #1ccdca !important;
    border-bottom-color: #fff !important;
    color: #1ccdca; }
  .nav-tabs .nav-link:hover {
    border-color: transparent; }

.tab-content {
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4; }
  .tab-content ul li i {
    color: #e74c3c; }

@keyframes slide-down-animation {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.slide-down-animation {
  animation-name: slide-down-animation;
  animation-fill-mode: both; }

.counter {
  animation-duration: 1s;
  text-align: center; }
  .counter i {
    color: #1ccdca;
    font-size: 40px;
    padding-bottom: 20px; }
  .counter .number {
    font-size: 40px;
    font-weight: bold;
    color: #555;
    font-family: 'Oswald', sans-serif; }
  .counter .title {
    font-size: 25px;
    color: #777777; }

#googleMap {
  border-top: 1px solid white; }

.subsection-title {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px; }
  .subsection-title .circle {
    height: 11px;
    width: 11px;
    border-radius: 50%;
    border: 1px solid #1ccdca;
    position: absolute;
    bottom: -5px;
    z-index: 2; }
  .subsection-title .underline {
    background-color: rgba(0, 0, 0, 0.2);
    height: 1px;
    width: 33%;
    position: absolute;
    bottom: 0;
    z-index: 0;
    left: 11px; }
  .subsection-title .line {
    background-color: #1ccdca;
    height: 1px;
    width: 15%;
    position: absolute;
    bottom: 0;
    transition: 1s;
    left: 11px;
    z-index: 1; }
  .subsection-title:hover .line {
    background-color: #1ccdca;
    width: 25%;
    transition: 1s; }

.section-title {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px; }
  .section-title .icon {
    position: absolute;
    padding: 0 5px;
    bottom: 40px;
    z-index: 2;
    left: 50%;
    color: #1ccdca;
    transform: translateX(-50%); }
  .section-title .underline {
    background-color: #e4e4e4;
    height: 1px;
    width: 33%;
    position: absolute;
    bottom: 50px;
    z-index: 0;
    left: 50%;
    transform: translateX(-50%); }
  .section-title .line {
    background-color: #1ccdca;
    height: 1px;
    width: 15%;
    position: absolute;
    bottom: 50px;
    transition: 1s;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; }
  .section-title:hover .line {
    background-color: #1ccdca;
    width: 25%;
    transition: 1s; }

.team {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4; }
  .team p {
    font-size: 24px; }
  .team .team-block p {
    font-size: 14px; }

.contact-us {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4; }
  .contact-us .contact-form-title {
    color: #1ccdca; }
    .contact-us .contact-form-title i {
      font-size: 25px; }
  .contact-us #message {
    height: 200px; }
  .contact-us .submit-btn {
    background-color: #1ccdca;
    color: white;
    transition: 0.6s; }
    .contact-us .submit-btn:hover {
      background-color: black;
      transition: 0.6s; }

.bg-dark-red {
  background-color: #684962; }

.round-img {
  border-radius: 50%; }

.btn-black {
  /*TODO: works the other way around, figure out how to fix*/
  background-color: black;
  color: white;
  transition: 0.4s ease-out 0.4s;
  font-size: inherit; }
  .btn-black i {
    transition: 0.1s ease-out 0.1s; }
    .btn-black i:hover {
      transition: 0.1s ease-out 0.1s; }
  .btn-black:hover {
    color: #1ccdca;
    transition: 0.4s ease-out 0.4s; }

#newsletter {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: inherit;
  height: 35px; }

.btn-newsletter {
  background-color: #1ccdca;
  color: white;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: inherit;
  height: 35px; }

hr {
  border-top: 1px solid rgba(255, 255, 255, 0.1); }

.footer {
  font-size: 13px;
  color: #989898; }

.form-inline label {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 0; }

.form-inline .form-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0; }

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle; }

.recent-post-title {
  color: #ddd;
  margin-bottom: 5px; }

.recent-post-date {
  font-size: 12px;
  color: inherit;
  font-style: italic;
  margin-bottom: 5px; }

.recent-post-type {
  font-size: 12px;
  color: inherit;
  font-style: italic;
  margin-bottom: 0; }

.recent-post-img {
  position: relative;
  height: auto;
  display: block;
  transition: 0.6s; }
  .recent-post-img .post-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #1ccdca;
    color: white;
    opacity: 0;
    transition: 0.6s; }
    .recent-post-img .post-overlay i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .recent-post-img .post-overlay:hover {
      opacity: 1;
      transition: 0.6s; }

.flicker-img {
  position: relative;
  width: 33.333%;
  float: left;
  display: block;
  padding-left: 5px;
  padding-bottom: 5px; }

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  background-color: #1ccdca;
  color: white;
  opacity: 0;
  transition: 0.4s; }
  .overlay i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .overlay:hover {
    opacity: 1;
    transition: 0.4s; }

.author-container {
  position: relative;
  height: auto;
  background: white;
  width: 100%; }

.author-img {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px; }

.author-link a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase; }
  .author-link a:hover {
    text-decoration: none;
    color: #1ccdca; }

.custom-modal-trigger {
  position: relative;
  display: block; }
  .custom-modal-trigger .trigger-overlay {
    position: absolute;
    background: transparent;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 0.6s; }
    .custom-modal-trigger .trigger-overlay i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 50px;
      opacity: 1;
      transition: 1s; }
    .custom-modal-trigger .trigger-overlay:hover {
      opacity: 0.7;
      transition: 0.6s;
      background: #1ccdca; }
      .custom-modal-trigger .trigger-overlay:hover i {
        transform: translate(-50%, -50%) rotateZ(120deg);
        transition: 1s; }

#custom_video {
  border: none; }

.btn-posts {
  border: 1px solid #1ccdca;
  width: 100%;
  background: black;
  color: #1ccdca;
  font-size: inherit;
  position: relative;
  height: 35px; }
  .btn-posts .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.4s; }
    .btn-posts .icon.first {
      left: 55px; }
    .btn-posts .icon.second {
      right: 65px;
      opacity: 0; }
  .btn-posts:hover {
    color: white;
    transition: 0.4s; }
    .btn-posts:hover .icon {
      color: #1ccdca; }
      .btn-posts:hover .icon.first {
        left: 65px;
        opacity: 0; }
      .btn-posts:hover .icon.second {
        right: 55px;
        opacity: 1; }

.btn-tag {
  border: 1px solid transparent;
  background: black;
  text-transform: uppercase;
  font-size: inherit;
  color: inherit;
  margin-bottom: 5px;
  transition: 0.4s; }
  .btn-tag:hover {
    border: 1px solid #1ccdca;
    color: white; }

.footer-bottom {
  background: black;
  border-top: 1px dotted #777777; }
  .footer-bottom li {
    margin: 0;
    padding-right: 10px; }
    .footer-bottom li:not(:first-child):before {
      content: "/";
      padding-right: 18px; }
    .footer-bottom li a {
      color: inherit;
      text-decoration: none; }
      .footer-bottom li a:hover {
        color: inherit;
        text-decoration: none; }

.highlight {
  color: #1ccdca;
  text-decoration: none; }
  .highlight:hover {
    text-decoration: none;
    color: #1ccdca; }

.plan-table {
  border: 1px solid #e4e4e4;
  width: 100%; }
  .plan-table:hover .plan-header {
    background-color: #1ccdca;
    color: white;
    transition-delay: 0s, 0.5s; }
  .plan-table tbody tr td {
    padding: 10px;
    font-size: 14px;
    color: #777777; }
  .plan-table.table-bordered thead th {
    border-bottom-width: 1px; }
  .plan-table .plan-header {
    height: 150px;
    color: #1ccdca;
    transition-duration: 0.6s;
    transition-property: background-color, color;
    transition-delay: 0.5s, 0s; }
    .plan-table .plan-header.active {
      background-color: #1ccdca;
      color: white; }
    .plan-table .plan-header .plan-name {
      margin-top: 105px; }

.btn-plan {
  background: white;
  color: #777777;
  border-radius: 20px;
  border: 2px solid #ECE8E7;
  transition: 0.6s; }
  .btn-plan:hover {
    background: #576162;
    color: white;
    transition: 0.6s;
    border: 2px solid #576162; }

.hexagon-container {
  position: absolute;
  top: -58px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; }

.hexagon {
  position: relative;
  width: 100px;
  height: 57.74px;
  margin: 28.87px 0;
  background-color: white;
  border-left: solid 2px #1ccdca;
  border-right: solid 2px #1ccdca; }
  .hexagon .hexagon-content {
    position: relative;
    top: 5%;
    color: #1ccdca;
    z-index: 3; }
    .hexagon .hexagon-content .price {
      font-size: 25px;
      margin-bottom: 0; }
    .hexagon .hexagon-content .periodicity {
      font-size: 14px; }

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 70.71px;
  height: 70.71px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 12.6447px; }

.hexagon:before {
  top: -35.3553px;
  border-top: solid 2.8284px #1ccdca;
  border-right: solid 2.8284px #1ccdca; }

.hexagon:after {
  bottom: -35.3553px;
  border-bottom: solid 2.8284px #1ccdca;
  border-left: solid 2.8284px #1ccdca; }

.navbar-brand {
  margin: 0 auto; }

.carousel-control {
  color: #1ccdca; }

@media (min-width: 992px) {
  .carousel-control {
    font-size: 40px; } }
