@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

//BEGIN VARIABLES
$border: 1px solid #e4e4e4;
$text-grey: #777777;
$text-black: #555;
$main-color: #1ccdca;
$border-transparent: 1px solid transparent;
//END VARIABLES

body {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;

}

.top-bar {
  background-color: #f9f9f9;
  border-bottom: $border;
  color: $text-grey;
  text-transform: uppercase;
  font-size: 12px;
  padding: 12px 0;
}

.top-bar-nav {
  a {
    text-decoration: none;
    color: $text-grey;
  }

  li {
    margin-right: 20px;
  }

  i {
    margin-right: 5px;
  }
}

.top-bar-social {
  a {
    text-decoration: none;
    color: $text-grey;
    font-size: 12px;
  }

}


.navbar-expand-lg {
  font-size: 14px;

  .form-control {
    width: 200px;
  }

  .navbar-nav {
    .nav-link {
      padding-left: 15px;
      padding-right: 15px;
    }

    li {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
    }

    a {
      border-radius: 3px;
      border: $border-transparent;
      color: $text-black;

      &:hover {
        transition: 1s;
        color: $main-color;
      }
    }
  }
}

.hover-dropdown {
  .dropdown-menu {
    background: black;

    .dropdown-item {
      color: $text-grey;
      font-size: 14px;

      &:hover {
        color: white;
        background: black;
      }
    }
  }
  .dropright-toggle{
    position: relative;

 /*  !* &:after{
      position: absolute;
      content: '>>';
      right: 24px;*!
    }*/
  }

  .dropdown-toggle {
    &:after {
      display: none;
    }
  }
  &.dropright {
    &:hover{
      .dropdown-menu{
        &.submenu{
          display: block;
          margin-left: 0;
        }
      }
    }
  }

  &.dropdown {
    &:hover {
      .dropdown-menu{
        &:not(.submenu) {
          display: block;
          margin-top: 0;
        }
      }

    }
  }
}

.search-btn {
  border: none;
  background: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2px;
  color: $main-color;
}

.search-container {
  position: relative;
}

.search {
  padding-left: 30px;
  border-radius: 40px;
  border: $border;
}

.cart-btn {
  border: $border;
  background: transparent;
  border-radius: 50%;
  color: $main-color;
  width: 38px;
  height: 38px;
}

.carousel-indicators li {
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  transition: background-color;
}

//TODO: rework banner classes (now using duplicate style)
.banner-top {
  h6 {
    font-weight: bold;
    color: white;
  }

  p {
    color: #777777;
    font-size: 14px;
  }
}

.banner-bottom {
  p {
    font-size: 14px;
  }
}

.banner-icon {
  color: $main-color;
  font-size: 25px;
}

.progress {
  background-color: #26292d;
  height: 30px;

  .progress-bar {
    text-align: left;
    transition: width 3s;
    span {
      margin-left: 10px;
    }
  }
}

.bg-banner {
  background-image: url(../css/img/bg_header4.jpg);
  background-size: cover;
  overflow-x: hidden;
}

.nav-tabs {
  .nav-item {
    border-right: $border;
    border-left: $border;
    border-top: $border;
  }

  .nav-link {
    border-top: 5px solid transparent;
    text-decoration: none;
    border-radius: 0;
    border-bottom: none;
    border-left: none;
    border-right: none;
    color: $text-grey;

    &.active {
      border-top-color: $main-color !important;
      border-bottom-color: #fff !important;
      color: $main-color;
    }

    &:hover {
      border-color: transparent;
    }
  }
}

.tab-content {
  border-left: $border;
  border-right: $border;
  border-bottom: $border;

  ul {
    li {
      i {
        color: #e74c3c;
      }
    }
  }
}

.counter {
  text-align: center;

  i {
    color: $main-color;
    font-size: 40px;
    padding-bottom: 20px;
  }

  .number {
    font-size: 40px;
    font-weight: bold;
    color: $text-black;
    font-family: 'Oswald', sans-serif;
  }

  .title {
    font-size: 25px;
    color: $text-grey;
  }
}

#googleMap {
  border-top: 1px solid white;
}

.section-title {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;

  .circle {
    height: 11px;
    width: 11px;
    border-radius: 50%;
    border: 1px solid $main-color;
    position: absolute;
    bottom: -5px;
    z-index: 1;
  }

  .underline {
    background-color: rgba(0, 0, 0, 0.2);
    height: 1px;
    width: 33%;
    position: absolute;
    bottom: 0;
    z-index: -99999;
    left: 11px;
  }

  .line {
    background-color: $main-color;
    height: 1px;
    width: 15%;
    position: absolute;
    bottom: 0;
    transition: 1s;
    left: 11px;
  }

  &:hover {
    .line {
      background-color: $main-color;
      width: 25%;
      transition: 1s;
    }
  }
}


.team {
  border-top: $border;
  border-bottom: $border;

  p {
    font-size: 24px;
  }

  .team-block {
    p {
      font-size: 14px;
    }
  }
}

.contact-us {
  border-top: $border;
  border-bottom: $border;

  .contact-form-title {
    color: $main-color;

    i {
      font-size: 25px;
    }
  }

  #message {
    height: 200px;
  }

  .submit-btn {
    background-color: $main-color;
    color: white;
    transition: 0.6s;

    &:hover {
      background-color: black;
      transition: 0.6s;
    }
  }
}


.bg-dark-red {
  background-color: #684962;
}

.round-img {
  border-radius: 50%;
}

.btn-black { /*TODO: works the other way arround, figure out how to fix*/
  i {
    transition: 0.1s ease-out 0.1s;

    &:hover {
      transition: 0.1s ease-out 0.1s;
    }
  }

  background-color: black;
  color: white;
  transition: 0.4s ease-out 0.4s;
  font-size: inherit;

  &:hover {
    color: $main-color;
    transition: 0.4s ease-out 0.4s;
  }
}

#newsletter {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: inherit;
  height: 35px;
}

.btn-newsletter {
  background-color: $main-color;
  color: white;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: inherit;
  height: 35px;

}

hr {
  border-top: 1px solid rgba(255, 255, 255, .1)
}

.footer {
  font-size: 13px;
  color: #989898;
}


.form-inline label {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 0;
}

.form-inline .form-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.recent-post-title {
  color: #ddd;
  margin-bottom: 5px;
}

.recent-post-date {
  font-size: 12px;
  color: inherit;
  font-style: italic;
  margin-bottom: 5px;
}

.recent-post-type {
  font-size: 12px;
  color: inherit;
  font-style: italic;
  margin-bottom: 0;
}

.recent-post-img {
  position: relative;
  height: auto;
  display: block;
  transition: 0.6s;

  .post-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $main-color;
    color: white;
    opacity: 0;
    transition: 0.6s;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      opacity: 1;
      transition: 0.6s;
    }

  }
}


.flicker-img {
  position: relative;
  width: 33.333%;
  float: left;
  display: block;
  padding-left: 5px;
  padding-bottom: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  background-color: $main-color;
  color: white;
  opacity: 0;
  transition: 0.4s;

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    opacity: 1;
    transition: 0.4s;
  }
}

.author-container {
  position: relative;
  height: auto;
  background: white;
  width: 100%;
}

.author-img {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.author-link {
  a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
      color: $main-color;
    }
  }
}

.custom-modal-trigger {
  position: relative;
  display: block;

  .trigger-overlay {
    position: absolute;
    background: transparent;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 0.6s;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 50px;
      opacity: 1;
      transition: 1s;
    }

    &:hover {
      opacity: 0.7;
      transition: 0.6s;
      background: $main-color;

      i {
        transform: translate(-50%, -50%) rotateZ(120deg);
        transition: 1s;
      }
    }
  }
}

#custom_video {
  border: none;
}


.btn-posts {
  border: 1px solid $main-color;
  width: 100%;
  background: black;
  color: $main-color;
  font-size: inherit;
  position: relative;
  height: 35px;

  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.4s;

    &.first {
      left: 55px;
    }

    &.second {
      right: 65px;
      opacity: 0;
    }
  }

  &:hover {
    color: white;
    transition: 0.4s;

    .icon {
      color: $main-color;

      &.first {
        left: 65px;
        opacity: 0;
      }

      &.second {
        right: 55px;
        opacity: 1;

      }

    }
  }
}

.btn-tag {
  border: $border-transparent;
  background: black;
  text-transform: uppercase;
  font-size: inherit;
  color: inherit;
  margin-bottom: 5px;
  transition: 0.4s;

  &:hover {
    border: 1px solid $main-color;
    color: white;
  }
}

.footer-bottom {
  background: black;
  border-top: 1px dotted $text-grey;

  li {
    margin: 0;
    padding-right: 10px;

    &:not(:first-child):before {
      content: "/";
      padding-right: 18px;
    }

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

.highlight {
  color: $main-color;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $main-color;
  }
}



.plan-table {
  &:hover {
    .plan-header {
      background-color: $main-color;
      color: white;
      transition-delay: 0s, 0.5s;
    }
  }
  tbody tr td {
    padding: 10px;
    font-size: 14px;
    color: $text-grey;
  }
  &.table-bordered {
    thead {
      th {
        border-bottom-width: 1px;
      }
    }
  }
  border: $border;
  width: 100%;
  .plan-header {
    &.active {
      background-color: $main-color;
      color: white;
    }
    height: 150px;
    color: $main-color;
    transition-duration: 0.6s;
    transition-property: background-color, color;
    transition-delay: 0.5s, 0s;

    .plan-name {
      margin-top: 105px;
    }
  }
}
.btn-plan {
  background: white;
  color: $text-grey;
  border-radius: 20px;
  border: 2px solid #ECE8E7;

  transition: 0.6s;
  &:hover {
    background: #576162;
    color: white;
    transition: 0.6s;
    border: 2px solid #576162;
  }
}
// hexagon for the pricing section
.hexagon-container {
  position: absolute;
  top: -58px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.hexagon {
  position: relative;
  width: 100px;
  height: 57.74px;
  margin: 28.87px 0;
  background-color: white;
  border-left: solid 2px $main-color;
  border-right: solid 2px $main-color;
  .hexagon-content {
    position: relative;
    top: 5%;
    color: $main-color;
    z-index: 3;
    .price {
      font-size: 25px;
      margin-bottom: 0;
    }
    .periodicity {
      font-size: 14px;
    }
  }
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 70.71px;
  height: 70.71px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 12.6447px;
}

.hexagon:before {
  top: -35.3553px;
  border-top: solid 2.8284px  $main-color;
  border-right: solid 2.8284px  $main-color;
}

.hexagon:after {
  bottom: -35.3553px;
  border-bottom: solid 2.8284px  $main-color;
  border-left: solid 2.8284px  $main-color;
}


@include media-breakpoint-up(xs) {
  .navbar-brand {
    margin: 0 auto;
  }
  .carousel-control {
    color: $main-color;
  }
}
@include media-breakpoint-up(sm) {

}

@include media-breakpoint-up(md) {

}

@include media-breakpoint-up(lg) {
  .carousel-control {
    font-size: 40px;
  }
}

@include media-breakpoint-up(xl) {

}

