@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

//BEGIN VARIABLES
$border: 1px solid #e4e4e4;
$top-bar-text-color: #777777;
$navbar-text-color: #555;
$main-color: #1ccdca;
$border-transparent: 1px solid transparent;
//END VARIABLES

body {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;

}
.top-bar {
  background-color: #f9f9f9;
  border-bottom: $border;
  color: $top-bar-text-color;
  text-transform: uppercase;
  font-size: 12px;
  padding: 12px 0;
}
.top-bar-nav {
    a {
      text-decoration: none;
      color: $top-bar-text-color;
    }
  li {
    margin-right: 20px;
  }
  i {
    margin-right: 5px;
  }
}
.top-bar-social {
  a{
    text-decoration: none;
    color: $top-bar-text-color;
    font-size: 12px;
  }

}
.navbar-toggler {

}
.navbar-expand-lg {
  font-size: 14px;
  .form-control{
    width: 200px;
  }
  .navbar-nav {
    .nav-link {
      padding-left: 15px;
      padding-right: 15px;

    }
    li {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
    }

    a {
      border-radius: 3px;
      border: $border-transparent;
      color: $navbar-text-color;
      &:hover {
        transition: 1s;
        background-color: $main-color;
        color: white;
      }
    }
  }
}
.search-btn {
  border: none;
  background: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2px;
  color: $main-color;
}
.search-container {
  position: relative;
}

.search {
  padding-left: 30px;
  border-radius: 40px;
  border: $border;
}
.cart-btn {
  border: $border;
  background: transparent;
  border-radius: 50%;
  color: $main-color;
  width: 38px;
  height: 38px;
}

.carousel-indicators li {
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  transition: background-color;
}

//TODO: rework banner classes (now using duplicate style)
.banner-top {
  h6 {
    font-weight: bold;
    color: white;
  }
  p {
    color: #777777;
    font-size: 14px;
  }
}

.banner-bottom {
  p {
    font-size: 14px;
  }
}

.banner-icon {
  color: $main-color;
  font-size: 25px;
}

.progress {
  background-color: #26292d;
  height: 30px;
  .progress-bar {
    text-align: left;
    padding-left: 10px;
  }
}
.bg-banner {
  background-image: url(../css/img/bg_header4.jpg);
  background-size: cover;
  overflow-x: hidden;
}
.nav-tabs {
  .nav-item {
    border: 1px solid #dee2e6;
  }
  .nav-link {
    border-top: 5px solid transparent;
    text-decoration: none;
    border-radius:0;
    &.active {
      border-top-color: $main-color !important;
    }
    &:hover{
      border-color: transparent;
    }
  }
}
.border {
  border: 1px solid #dee2e6;
}
@include media-breakpoint-up(xs) {
  .navbar-brand {
  margin: 0 auto;
  }
  .carousel-control{
    color: $main-color;
  }
}
@include media-breakpoint-up(sm) {

}
@include media-breakpoint-up(md) {

}
@include media-breakpoint-up(lg) {
  .carousel-control {
    font-size: 40px;
  }
}
@include media-breakpoint-up(xl) {

}

