//BEGIN VARIABLES
$border: 1px solid #e4e4e4;
$text-grey: #777777;
$text-black: #555;
$main-color: #1ccdca;
$border-transparent: 1px solid transparent;
//END VARIABLES

body {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

//begin animations
@keyframes slide-down-animation {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.slide-down-animation {
  animation-name: slide-down-animation;
  animation-fill-mode: both;
}

@keyframes slide-in-right-animation {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0)
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

//end animations
.bg-main {
  background: $main-color;
}

.top-bar {
  background-color: #f9f9f9;
  border-bottom: $border;
  color: $text-grey;
  text-transform: uppercase;
  font-size: 12px;
  padding: 12px 0;
}

.top-bar-nav {
  color: $text-grey;

  a {
    text-decoration: none;
    color: inherit;
  }

  li {
    margin-right: 20px;
  }

  i {
    margin-right: 5px;
  }
}

.top-bar-social {
  padding: 5px 0;

  .top-bar-social-item {
    display: block;
    padding: 5px 0;
  }

  .nav-item {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    position: relative;
    transition: 0.6s;

    &:hover {
      background: #19b7b4;
      transition: 0.6s;

      .social-link-overlay {
        transition: 0.6s;
        left: 23px;
        opacity: 1;
        z-index: 1;

        &.reverse {
          left: -49px;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }
      }
    }
  }

  a {
    text-decoration: none;
    color: $text-grey;
    font-size: 12px;
  }

  .social-link-overlay {
    color: white;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    font-style: italic;
    font-size: 11px;
    background: $main-color;
    text-align: center;
    height: 100%;
    text-transform: none;
    z-index: 0;
    transition: 0.6s;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    p {
      padding: 6px 6px;
      margin: 0;
    }
  }

}

.top-bar-item {
  display: block;
  padding: 10px 0;
}


.carousel-control {
  color: $main-color;
}

.navbar-expand-lg {
  font-size: 14px;

  .form-control {
    width: 200px;
  }

  .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
  }


  li {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
  }

  a {
    border-radius: 3px;
    border: $border-transparent;
    color: $text-black;

    &:hover {
      transition: 1s;
      color: $main-color;
    }
  }
}

#btn-hide-top {
  background: white;
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
  color: $main-color;
  border-radius: 0;
  padding: 4px;
  font-size: 12px;

  &:hover {
    color: $main-color;
  }

  &:focus {
    outline: none;
    box-shadow: none
  }
}

.hover-dropdown {
  .dropdown-menu {
    background: black;

    ul {
      list-style: none;
      padding: 0;
    }

    &.language-menu {
      background-color: $main-color;
      z-index: 1050;
      padding: 0;

      .dropdown-item {
        font-style: italic;
        color: white;
        transition: 1s;
        padding: 10px 0;
        font-size: 11px;

        &.active {
          background-color: rgba(0, 0, 0, 0.1);
        }

        a {
          padding-left: 10px;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
          transition: 1s;
        }
      }
    }

    .dropdown-item {
      color: $text-grey;
      font-size: 14px;

      &:hover {
        color: white;
        background: black;
      }
    }
  }

  .dropright-toggle {
    position: relative;
  }

  .dropdown-toggle {
    &:after {
      display: none;
    }
  }

  &.dropright {
    &:hover {
      .dropdown-menu {
        &.submenu {
          display: block;
          margin-left: 0;
        }
      }
    }
  }

  &.dropdown {
    &:hover {
      .dropdown-menu {
        &:not(.submenu) {
          display: block;
          margin-top: 0;
        }
      }

    }
  }
}

.search-btn {
  border: none;
  background: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2px;
  color: $main-color;
}

.search-container {
  position: relative;
}

.search {
  padding-left: 30px;
  border-radius: 40px;
  border: $border;
}

.cart-btn {
  border: $border;
  background: transparent;
  border-radius: 50%;
  color: $main-color;
  width: 38px;
  height: 38px;

  &:focus {
    outline: none;
  }
}

.cart-menu {
  ul {
    list-style-type: none;
    padding-left: 10px;
  }

  font-size: 13px;
  position: absolute;
  left: -250px;
  margin-top: 16px;
  width: 300px;

  .cart-menu-header {
    font-size: 14px;
  }

  .dropdown-item {
    padding: 5px 10px;

    &:hover {
      background-color: inherit;

      .item-name {
        color: $main-color;
        transition: 0.6s
      }
    }

    .item-count {
      color: $text-grey;
      float: right;
    }
  }

  .cart-thumbnail {
    border: 1px solid #dee2e6;
    padding: .25rem;
  }

  .item-name {
    transition: 0.6s;
  }

  .item-price {
    color: $text-grey;
  }

  .remove-item {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    left: -20px;
    bottom: 50%;
    color: $text-grey;
    border: 1px solid $text-grey;
    transition: 0.6s;
    background-color: white;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%)

    }

    &:hover {
      border-color: $main-color;
      color: $main-color;
      transform: rotateZ(90deg);
      transition: 0.6s;
    }

  }
}

.carousel-indicators li {
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  transition: background-color;
}

.carousel-caption {
  right: auto;
  text-align: left;
}

.caption-element-1 {
  color: white;
  background-color: #e74c3c;
  text-transform: uppercase;
  font-style: italic;
  font-size: 10px;
  padding: 0 0 0 5px;
  width: fit-content;
  animation-name: slide-in-right-animation;
  animation-duration: 2s;
  animation-fill-mode: both;

  span {
    margin: 0;
    padding: 0 5px;
  }

  .caption-btn {
    background-color: #cf2c1d;
    color: white;
    font-size: inherit;
  }
}

.caption-element-2 {
  font-weight: bold;
  width: fit-content;
  color: #e74c3c;
  background-color: white;
  font-size: 16px;
  padding: 10px 5px;
  animation-name: slide-in-right-animation;
  animation-fill-mode: both;
  animation-duration: 2s;
  animation-delay: 0.3s;
  text-transform: uppercase;
}

.caption-element-3 {
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-family: "Kalam", cursive;
  font-size: 18px;
  padding: 11px 20px;
  animation-name: slide-in-right-animation;
  animation-fill-mode: both;
  animation-duration: 2s;
  animation-delay: 0.6s
}

.caption-element-4 {
  padding-top: 25px;
  animation-name: slide-in-right-animation;
  animation-fill-mode: both;
  animation-duration: 2s;
  animation-delay: 0.9s;

  .purchase-now-btn {
    background-color: white;
    color: $main-color;
  }
}


.banner-top {
  h6 {
    font-weight: bold;
    color: white;
  }

  p {
    color: #777777;
    font-size: 14px;
  }
}

.banner-bottom {
  p {
    font-size: 14px;
  }
}

.banner-icon {
  color: $main-color;
  font-size: 25px;
}

.banner-item {
  .banner-title {
    transition: 0.6s;
    font-size: 16px;
  }

  &:hover {
    .banner-icon {
      color: white;
    }

    .icon-circle-overlay {
      width: 90px;
      height: 90px;
      opacity: 1;
      transition: 0.4s;
    }

    .banner-title {
      color: $main-color;
      transition: 0.6s;
    }
  }
}

.icon-circle {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  border: 1px solid $main-color;
  position: relative;
  transition: 0.4s;

  i {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .icon-circle-overlay {
    position: absolute;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: $border-transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $main-color;
    z-index: 2;
    opacity: 0;
    transition: 0.4s;
  }
}

.services-icon {
  font-size: 25px;
  color: white;
}

.services-content {
  padding-bottom: 40px;

  .services-title {
    font-size: 16px;
    transition: 0.6s;
    color: $text-grey;
  }

  .services-description {
    color: $text-grey;
    font-size: 14px;
  }

  &:hover {
    .services-title {
      color: $main-color;
      transition: 0.6s;
    }
  }
}

#web_bar {
  background-color: rgb(11, 172, 184);
}

#programming_bar {
  background-color: rgb(58, 148, 178);
}

#css_bar {
  background-color: $main-color;
}

#wp_bar {
  background-color: rgb(0, 193, 148);
}

#joomla_bar {
  background-color: rgb(231, 76, 60);
}

.progress {
  background-color: #26292d;
  height: 40px;

  .progress-bar {
    text-align: left;
    transition: 3s;
    width: 0;
    position: relative;

    .progress-bar-title {
      position: absolute;
      left: -9999px;
      padding: 0 10px;
      transition: 3s;
    }
  }
}

.bubble {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: black;
  font-style: italic;

  .inner-bubble {
    background: white;
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 5px;
  }

  .bubble-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 10px 5px 0;
    border-color: transparent white transparent transparent;

    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.bg-banner {
  background-image: url(../css/img/bg_header4.jpg);
  background-size: cover;
  overflow-x: hidden;
}

.nav-tabs {
  .nav-item {
    border-right: $border;
    border-left: $border;
    border-top: $border;
  }

  .nav-link {
    border-top: 5px solid transparent;
    text-decoration: none;
    border-radius: 0;
    border-bottom: none;
    border-left: none;
    border-right: none;
    color: $text-grey;

    &.active {
      border-top-color: $main-color !important;
      border-bottom-color: #fff !important;
      color: $main-color;
    }

    &:hover {
      border-color: transparent;
    }
  }
}

.tab-content {
  border-left: $border;
  border-right: $border;
  border-bottom: $border;

  ul {
    li {
      i {
        color: #e74c3c;
      }
    }
  }
}

.custom-card {
  margin-bottom: 5px;
  border-radius: 0;

  .card-header {
    background-color: white;
    color: $text-grey;
    padding: 0;
    transition: 0.6s;
  }

  &.active {
    .card-header {
      background-color: $main-color;
      color: white;

      .accordion-btn {
        i {
          color: inherit;
        }
      }
    }
  }

  .accordion-btn {
    width: 100%;
    text-align: left;
    color: inherit;
    text-transform: uppercase;
    transition: 0.6s;

    i {
      color: #d0cdcd;
      padding: 0 10px;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

.slide-in-right-animation {
  animation-name: slide-in-right-animation;
  animation-fill-mode: both;
}

.counter {
  animation-duration: 1s;
  text-align: center;

  i {
    color: $main-color;
    font-size: 40px;
    padding-bottom: 20px;
  }

  .number {
    font-size: 40px;
    font-weight: bold;
    color: $text-black;
    font-family: 'Oswald', sans-serif;
  }

  .title {
    font-size: 25px;
    color: $text-grey;
  }
}

#googleMap {
  border-top: 1px solid white;
}

.img-link {
  overflow: hidden;
  display: block;
  position: relative;
  text-decoration: none;

  .zoom-overlay {
    background-color: $main-color;
    z-index: 1;
    opacity: 0;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.6s;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 40px;
      color: white;
      transition: 0.6s;
    }
  }

  img {
    transition: 1s;
  }

  &:hover {
    img {
      transform: scale(1.5);
      transition: 1s;
    }

    .zoom-overlay {
      opacity: 0.6;
      height: 50px;
      width: 50px;
      transition: 0.6s;

      i {
        transform: translate(-50%, -50%) rotateZ(45deg);
        font-size: 24px;
        transition: 0.6s;
      }
    }
  }
}

.subsection-title {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;

  .circle {
    height: 11px;
    width: 11px;
    border-radius: 50%;
    border: 1px solid $main-color;
    position: absolute;
    bottom: -5px;
    z-index: 2;
  }

  .underline {
    background-color: rgba(0, 0, 0, 0.2);
    height: 1px;
    width: 33%;
    position: absolute;
    bottom: 0;
    z-index: 0;
    left: 11px;
  }

  .line {
    background-color: $main-color;
    height: 1px;
    width: 15%;
    position: absolute;
    bottom: 0;
    transition: 1s;
    left: 11px;
    z-index: 1;
  }

  &:hover {
    .line {
      background-color: $main-color;
      width: 25%;
      transition: 1s;
    }
  }
}

.section-title {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;

  .icon {
    position: absolute;
    padding: 0 5px;
    bottom: 40px;
    z-index: 2;
    left: 50%;
    color: $main-color;
    transform: translateX(-50%);
  }

  .underline {
    background-color: #e4e4e4;
    height: 1px;
    width: 33%;
    position: absolute;
    bottom: 50px;
    z-index: 0;
    left: 50%;
    transform: translateX(-50%)
  }

  .line {
    background-color: #1ccdca;
    height: 1px;
    width: 15%;
    position: absolute;
    bottom: 50px;
    transition: 1s;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  &:hover {
    .line {
      background-color: $main-color;
      width: 25%;
      transition: 1s;
    }
  }
}


.team {
  border-top: $border;
  border-bottom: $border;

  p {
    font-size: 24px;
  }

  .team-block {
    p {
      font-size: 14px;
    }
  }
}

.contact-us {
  border-top: $border;
  border-bottom: $border;

  .contact-form-title {
    color: $main-color;

    i {
      font-size: 25px;
    }
  }

  #message {
    height: 200px;
  }

  .submit-btn {
    background-color: $main-color;
    color: white;
    transition: 0.6s;

    &:hover {
      background-color: black;
      transition: 0.6s;
    }
  }
}


.bg-dark-red {
  background-color: #684962;
}

.round-img {
  border-radius: 50%;
}

.btn-black {
  i {
    transition: 0.1s ease-out 0.1s;

    &:hover {
      transition: 0.1s ease-out 0.1s;
    }
  }

  background-color: black;
  color: white;
  transition: 0.4s ease-out 0.4s;
  font-size: inherit;

  &:hover {
    color: $main-color;
    transition: 0.4s ease-out 0.4s;
  }
}

#newsletter {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: inherit;
  height: 35px;
}

.btn-newsletter {
  background-color: $main-color;
  color: white;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: inherit;
  height: 35px;

}

hr {
  border-top: 1px solid rgba(255, 255, 255, .1)
}

.footer {
  font-size: 13px;
  color: #989898;
}


.form-inline label {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 0;
}

.form-inline .form-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.recent-post-title {
  color: #ddd;
  margin-bottom: 5px;
}

.recent-post-date {
  font-size: 12px;
  color: inherit;
  font-style: italic;
  margin-bottom: 5px;
}

.recent-post-type {
  font-size: 12px;
  color: inherit;
  font-style: italic;
  margin-bottom: 0;
}

.recent-post-img {
  position: relative;
  height: auto;
  display: block;
  transition: 0.6s;

  .post-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $main-color;
    color: white;
    opacity: 0;
    transition: 0.6s;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      opacity: 1;
      transition: 0.6s;
    }

  }
}


.flicker-img {
  position: relative;
  width: 33.333%;
  float: left;
  display: block;
  padding-left: 5px;
  padding-bottom: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  background-color: $main-color;
  color: white;
  opacity: 0;
  transition: 0.4s;

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    opacity: 1;
    transition: 0.4s;
  }
}

.author-container {
  position: relative;
  height: auto;
  background: white;
  width: 100%;
}

.author-img {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.author-link {
  a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
      color: $main-color;
    }
  }
}

.custom-modal-trigger {
  position: relative;
  display: block;

  .trigger-overlay {
    position: absolute;
    background: transparent;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 0.6s;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 50px;
      opacity: 1;
      transition: 1s;
    }

    &:hover {
      opacity: 0.7;
      transition: 0.6s;
      background: $main-color;

      i {
        transform: translate(-50%, -50%) rotateZ(120deg);
        transition: 1s;
      }
    }
  }
}

#custom_video {
  border: none;
}


.btn-posts {
  border: 1px solid $main-color;
  width: 100%;
  background: black;
  color: $main-color;
  font-size: inherit;
  position: relative;
  height: 35px;

  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.4s;

    &.first {
      left: 55px;
    }

    &.second {
      right: 65px;
      opacity: 0;
    }
  }

  &:hover {
    color: white;
    transition: 0.4s;

    .icon {
      color: $main-color;

      &.first {
        left: 65px;
        opacity: 0;
      }

      &.second {
        right: 55px;
        opacity: 1;

      }

    }
  }
}

.btn-tag {
  border: $border-transparent;
  background: black;
  text-transform: uppercase;
  font-size: inherit;
  color: inherit;
  margin-bottom: 5px;
  transition: 0.4s;

  &:hover {
    border: 1px solid $main-color;
    color: white;
  }
}

.footer-bottom {
  background: black;
  border-top: 1px dotted $text-grey;

  li {
    margin: 0;
    padding-right: 10px;

    &:not(:first-child):before {
      content: "/";
      padding-right: 18px;
    }

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

.highlight {
  color: $main-color;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $main-color;
  }
}


.plan-table {
  &:hover {
    .plan-header {
      background-color: $main-color;
      color: white;
      transition-delay: 0s, 0.5s;
    }
  }

  tbody tr td {
    padding: 10px;
    font-size: 14px;
    color: $text-grey;
  }

  &.table-bordered {
    thead {
      th {
        border-bottom-width: 1px;
      }
    }
  }

  border: $border;
  width: 100%;

  .plan-header {
    &.active {
      background-color: $main-color;
      color: white;
    }

    height: 150px;
    color: $main-color;
    transition-duration: 0.6s;
    transition-property: background-color, color;
    transition-delay: 0.5s, 0s;

    .plan-name {
      margin-top: 105px;
    }
  }
}

.btn-plan {
  background: white;
  color: $text-grey;
  border-radius: 20px;
  border: 2px solid #ECE8E7;

  transition: 0.6s;

  &:hover {
    background: #576162;
    color: white;
    transition: 0.6s;
    border: 2px solid #576162;
  }
}

// hexagon for the pricing section
.hexagon-container {
  position: absolute;
  top: -58px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.hexagon {
  position: relative;
  width: 100px;
  height: 57.74px;
  margin: 28.87px 0;
  background-color: white;
  border-left: solid 2px $main-color;
  border-right: solid 2px $main-color;

  .hexagon-content {
    position: relative;
    top: 5%;
    color: $main-color;
    z-index: 3;

    .price {
      font-size: 25px;
      margin-bottom: 0;
    }

    .periodicity {
      font-size: 14px;
    }
  }
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 70.71px;
  height: 70.71px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 12.6447px;
}

.hexagon:before {
  top: -35.3553px;
  border-top: solid 2.8284px $main-color;
  border-right: solid 2.8284px $main-color;
}

.hexagon:after {
  bottom: -35.3553px;
  border-bottom: solid 2.8284px $main-color;
  border-left: solid 2.8284px $main-color;
}


@media (max-width: 320px) {
  .cart-menu {
    left: -130px;
  }
}

@media (min-width: 992px) {
  .carousel-control {
    font-size: 40px;
  }
  .caption-element-1 {
    font-size: 16px;
    padding: 0 0 0 5px;

  }
  .caption-element-2 {
    font-size: 36px;
    padding: 15px 10px;
  }

}

@media (min-width: 1200px) {
  .navbar-expand-lg {
    .nav-link {
      padding: 25px 15px;
    }
  }
}





